<%= form_for(load) do |form| %>

  <%= form.hidden_field :machine_id, :value => load[:machine_id] %>
  <%= form.hidden_field :meter_number, :value => @meter_number %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select(:product_id, options_from_collection_for_select(Product.all, :id, :name)) %>
  </div>

  <div class="field">
    <%= form.label :loaded_at %>
    <%= form.datetime_select :loaded_at, id: :load_loaded_at %>
  </div>

  <div class="field">
    <%= form.label :ounces %>
    <%= form.text_field :ounces, id: :load_ounces %>
  </div>

  <div class="actions">
    <%= form.submit "Tap the Keg" %>
  </div>
<% end %>
