<p id="notice"><%= notice %></p>

<h1>SmarTaps Installed</h1>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Serial number</th>
      <th scope='col'>Version</th>
      <th scope='col'>Location</th>
      <th scope='col'>Taps</th>
      <th scope='col'>Avg Daily Pour</th>
      <th scope='col'>Avg Pour Size</th>
      <th scope='col'>Remaining Load</th>
      <th scope='col'>Date Last Loaded</th>
    </tr>
  </thead>

  <tbody>
    <% @smartaps.each do |machine| %>
      <% machine.loads.each do |tap| %>
        <tr>
          <td><%= tap.machine.serial_number %></td>
          <td><%= tap.machine.version %></td>
          <td><%= tap.machine.last_location_name %></td>
          <td><%= tap.meter_number %></td>
          <td><%= tap.avg_daily.round(1) %></td>
          <td><%= tap.avg_size.round(1) %></td>
          <td><%= tap.ounces_remaining.round(1) %></td>
          <td><%= tap.loaded_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
