<p id="notice"><%= notice %></p>
<% if current_user.role == "admin" %>
  <h1>SmarTAPs Installed</h1>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Serial Number</th>
      <th scope='col'><%= sortable 'location', 'Location'%></th>
      <th scope='col'>Tap</th>
      <th scope='col'><%= sortable 'product', 'Product'%></th>
      <th scope='col'><%= sortable 'avg_daily', 'Avg Pours (per day)'%></th>
      <th scope='col'><%= sortable 'avg_size', 'Avg Size (ounces)'%></th>
      <th scope='col'><%= sortable 'days_remaining', 'Remaining (ounces/days)'%></th>
      <th scope='col'><%= sortable 'last_loaded', 'Date Last Loaded'%></th>
      <th scope='col'>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @smartaps.each do |load| %>
      <% tap = display_tap(load[:tap]) %>
      <tr>
        <td><%= load[:serial_number] %></td>
        <td><%= load[:location] %></td>
        <td class='<%=tap%>'><%= tap %></td>
        <td><%= load[:product] %></td>
        <td><%= load[:avg_daily].round %></td>
        <td><%= load[:avg_size].round(1) %></td>
        <td><%= remaining(load) %></td>
        <td><%= std_date(load[:last_loaded]) %></td>
        <td><%= link_to 'Edit', edit_smartap_path(load) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
