<div class='sidebar-sticky'>
  <ul class='nav flex-column'>
    <li class='nav-item'>
      <%= link_to 'Dashboard', '/dashboard' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Owners', '/owners' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'SmarTaps', '/machines' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Locations', '/locations' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Products', '/products' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Loads', '/loads' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Pours', '/pours' %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Calibrations', '/calibrations' %>
    </li>
  </ul>
</div>
