<nav class='col-lg-2 bg-light sidebar'>
  <div class='sidebar-sticky'>
    <ul class='nav flex-column'>
      <li class='nav-item'>
        <%= link_to 'Dashboard', '/dashboard', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Owners', '/owners', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'SmarTaps', '/machines', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Locations', '/locations', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Products', '/products', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Loads', '/loads', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Pours', '/pours', class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Calibrations', '/calibrations', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
